@charset "utf-8";
html {
    font-size: 100%;
}
img {
    max-width: 100%;
}
body {
    font-family: "Zen Kaku Gothic New", 'Montserrat', sans-serif;
}
.background {
    width: 100vw;
    min-height: 120vh;
    background-image: url(images/modern-kitchen-table.webp);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    filter: brightness(60%);
    z-index: -1;
}

.material-symbols-outlined {
    font-size: 2.5rem;
    color: #8c6239;
}
.fa-utensils {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
}
.header-container {
    margin-top: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
.header-container h5 {
    padding-top: 0.5rem;
}
.header-container h1 {
    padding: 0 1rem;
}

.header-container h5,
.header-container h1 {
    margin: 0.1rem 0;
}

.genre-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #ffc107;
}

.row {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.col {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.container {
        margin: 0.5rem;
        padding: 2rem;
        max-width: 95%;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.content {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 249, 250, 0.7);

}
.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-text {
    word-wrap: break-word;
    margin: 0.5rem 0;
    text-align: left;
}
.menu-list {
    margin: 0.5rem auto 0 auto;

}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center; 
}

ul li {
    font-size: 1.15rem;
    position: relative;
    text-align: left;
    margin-bottom: 0.1rem;
    padding-left: 1.5rem;
}
ul li:last-child {
    margin-bottom: 0;
}

ul li::before {
    content: 'restaurant'; 
    font-family: 'Material Symbols Outlined'; 
    position: absolute;
    left: 0; /* マーカーをリスト項目の左端に配置 */
    transform: translateX(-50%); /* マーカーを中央に配置 */
}

/* ボタン */
.button {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    background-color: #ffc107;
    border-radius: 7px;
    color: black;
    text-align: center;
    padding: 0.4rem;
    margin: 1rem 0;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem #171300;
}

.button:hover {
    opacity: 0.8;
}
.button:active {
    box-shadow: 0.25rem 0.255rem #171300;
    transform: translate(0.25rem, 0.25rem);
}
.btn-width {
    width: 13rem;
    margin: 0 auto;
}


@media screen and (max-width: 1200px){
    .container {
        margin: 0.5rem;
        padding: 2rem;
        max-width: 100%;
    }
    .content {
        padding: 1.5rem;
    }
    .col {
    width: 80%;
}

}
@media screen and (max-width: 650px){
    .col {
    width: 100%;
}
.images {
    gap: 1.5rem;
}
.header-container h1 {
    padding: 0 0.4rem;
}
}

@media (min-width: 505px) {
    .header-container {
        flex-direction: row;
    }
    
    .genre-container {
        flex-direction: row;
    }

}

